version: "3.9"

services:
  ussd_service_default:
    build: .
    container_name: ussd_service_default
    restart: unless-stopped 
    expose:
      - "3000"
    env_file:
      - .env
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true